# Node modules
node_modules/

# Logs
logs/
*.log

# Env files
.env

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/

# Optional npm cache directory
.npm/

# Output directories
dist/
build/
